.DS_Store
*.log

# Docker Compose (clé Groq à la racine)
/.env

# Backend
backend/.env
backend/chroma_store/
backend/__pycache__/
backend/**/__pycache__/
backend/.venv/
backend/venv/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local
